body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #356cb5;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  #content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .project-box {
    flex: 45%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  footer {
    margin-top: auto;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  